h1,
h3 {
  text-align: center;
}

#form {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
  grid-gap: 20px;
  text-align: end;
  width: 800px;
  margin: 0 auto;
}

#label-name {
  display: flex;

  grid-column: 1/2;
}

#name {
  grid-column: 2/5;
}

#label-date {
  grid-column: 1/2;
}

#date {
  grid-column: 2/3;
}

#label-amount {
  grid-column: 3/4;
}

#amount {
  grid-column: 4/5;
}

#submit {
  grid-column: 2/5;
}

.input_section {
  margin-bottom: 50px;
}

.container p {
  margin: 0;
  height: 30px;
  background-color: lightgrey;
}

.display_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display_section strong {
  text-align: center;
  margin-left: -1px;
  border: 1px solid rgba(5, 5, 5, 0.5);
  padding: 10px;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgrey;
  border: 1px solid rgba(5, 5, 5, 0.5);
}

.section p {
  margin: 0;
  text-align: center;
  border-right: 1px solid rgba(5, 5, 5, 0.5);
  padding: 10px;
}

.section button {
  width: 50px;
  margin: 0 auto;
}
